<div class='bg-[rgba(217,217,217,0.66)] flex items-center justify-center flex-col py-3'>
    <img src='/img/logo.png' alt='PNIT Logo' width='24' height='24' />
    <div class='text-sm font-semibold my-1'>❤ FROM PNIT WITH LOVE ❤</div>
    <a href='' class='group flex items-center text-blue-500 text-xs'><span class='mr-0.5'>Visit us</span>
        <svg
            viewBox='0 0 24 24'
            width='24'
            height='24'
            stroke='currentColor'
            stroke-width='2'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            class='group-hover:translate-x-1 transition-transform w-4 h-4'
        ><line x1='5' y1='12' x2='19' y2='12'></line><polyline
                points='12 5 19 12 12 19'
            ></polyline></svg></a>
</div>