<!DOCTYPE html>
<html lang='vi'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='icon' type='image/x-icon' href='/img/favicon.ico' />
        <link rel='stylesheet' href='/css/const.css' />
        <link rel='stylesheet' href='/css/index.css' />
        <link rel='stylesheet' href='/css/responsive.css' />
        <link rel='stylesheet' href='/css/animation.css' />
        <link href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet' />
        
        <link rel='canonical' href='https://pnit.site' />

        <title>PNIT - Home | Câu lạc bộ Tin học Trường THPT Phú Nhuận</title>
        <meta name="title" content="PNIT - Home | Câu lạc bộ Tin học Trường THPT Phú Nhuận" />
        <meta name="description" content="Trang web chính thức của Câu lạc bộ Tin học Trường THPT Phú Nhuận. PNIT cung cấp không gian thân thiện cho việc chia sẻ kiến thức, thảo luận về các kiến thức công nghệ. Hãy đến và tham gia cùng PNIT bạn nhé!." />

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://pnit.site/" />
        <meta property="og:title" content="PNIT - Home | Câu lạc bộ Tin học Trường THPT Phú Nhuận" />
        <meta property="og:description" content="Trang web chính thức của Câu lạc bộ Tin học Trường THPT Phú Nhuận. PNIT cung cấp không gian thân thiện cho việc chia sẻ kiến thức, thảo luận về các kiến thức công nghệ. Hãy đến và tham gia cùng PNIT bạn nhé!." />
        <meta property="og:image" content="http://localhost:8000/img/web-banner.jpeg" />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://pnit.site/" />
        <meta property="twitter:title" content="PNIT - Home | Câu lạc bộ Tin học Trường THPT Phú Nhuận" />
        <meta property="twitter:description" content="Trang web chính thức của Câu lạc bộ Tin học Trường THPT Phú Nhuận. PNIT cung cấp không gian thân thiện cho việc chia sẻ kiến thức, thảo luận về các kiến thức công nghệ. Hãy đến và tham gia cùng PNIT bạn nhé!." />
        <meta property="twitter:image" content="http://localhost:8000/img/web-banner.jpeg" />
    </head>
    <body>

        {{{body}}}

        <!-- AOS-->
        <script src='https://unpkg.com/aos@2.3.1/dist/aos.js'></script>

        <script>
            AOS.init({ once: true });
        </script>
    </body>
    <link
        rel='stylesheet'
        href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'
    />

    <!-- FONT AWESOME-->
    <link
        rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'
        integrity='sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=='
        crossorigin='anonymous'
        referrerpolicy='no-referrer'
    />

    <!-- JQERY -->
    <script
        src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'
    ></script>

    <!-- JS FILE-->
    <script src='js/index.js'></script>
</html>